/bin/
/Mazos/
/src/tests/
/src/negocio/LectorXML.java
/recursos/Climas/
/recursos/Dados/
/recursos/Especial/
/recursos/Fuentes/
/recursos/Iconos/
/recursos/Invocados/
/recursos/Mazos/
/recursos/Monstruos/
/recursos/Neutral/
/recursos/Nilfgaard/
/recursos/Reinos del Norte/
/recursos/Scoiatael/
/recursos/Skellige/
/recursos/FondoEditorMazo.png
/recursos/FondoFinal.png
/recursos/FondoInicio.png
/recursos/Tablero.png
/recursos/puntero.png

